@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #C61F1F;
    --color-dark: #000;
    --color-content: #111111;
}

body{
    background: black;
}

.container{
    max-width: 1212px;
    padding-left: 16px;
    padding-right: 16px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}